<center>
    <a class="github-button" href="https://github.com/felender7/ROR-Guide" data-icon="octicon-star"
        data-show-count="true" aria-label="Star felender7/ROR-Guide on GitHub">Star</a>

    <a class="github-button" href="https://github.com/felender7/ROR-Guide" data-icon="octicon-repo-forked"
        data-show-count="true" aria-label="Fork felender7/ROR-Guide on GitHub">Fork</a>

    <a class="github-button" href="https://github.com/felender7/ROR-Guide"
        data-icon="octicon-cloud-download" aria-label="Download felender7/ROR-Guide on GitHub">Download</a>

    <p>Built with <i class="fas fa-heart"></i> by <a href="https://github.com/felender7" target="_black">Felender</a> 
    </p>
    <br />

    Copyright 2022 ©.
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>